
body {
font-family:"Open Sans", sans-serif;

}
h1,h2,h3 {
    font-family:"Lobster", cursive;
}
h2 {
    color: #050403
}

header {
    padding: 30px;
    background-image: linear-gradient(to right, #403229, #6f563d, #e0d8d2 );
    color: white;
}

header h2 {
    color: #090908;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height:200px;    
}
.navbar {
    background-color: #d49e8a;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
